
@import "compass/reset";
@import "mixins";
 //@import "media";


 body{
 	font-size: 16px;
 	h4{
 		text-transform: uppercase;
 		@extend %eMedium;
 		color: #ff6d6d;	
 	}
 	h3{
 		@extend %eMedium;
 		font-size: 40px;
 		color: #282828;
 	}

 }

 %eNormal{
 	font-family: 'Exo';
 	font-weight: normal;
 	font-style: normal;
 }
 %eItalic{
 	font-family: 'Exo';
 	font-weight: normal;
 	font-style: italic;
 }
 %eMedium{
 	font-family: 'Exo';
 	font-weight: 500;
 	font-style: normal;
 }
 %eThin{
 	font-family: 'Exo';
 	font-weight: 100;
 	font-style: normal;
 }
//================================= HEADER ====================================

header{
	background: url('../../images/header/background.jpg') no-repeat center center;
	background-size: cover;
	.tagline{
		margin-top: 185px;
		margin-bottom: 65px;
		h1{
			font-size: 60px;
			@extend %eThin;
			color: #282828;
		}
	}
	.play{
		margin: 0px auto;
		width: 60px;
		padding: 20.5px 0px;
		background: #8286a3;
		border-radius: 30px;
		img{
			display: block;
			padding-left: 24px;
		}
		&:hover{
			cursor: pointer;
		}
	}
	.try_now{
		display: inline-block;
		margin-top: 40px;
		padding: 13px 0px 13px 0px;
		border-radius: 5px;
		background-color: #ff6d6d;
		width: 16%;
		a{
			text-transform: uppercase;
			text-decoration: none;
			@extend %eNormal;
			color: #ffffff;	
		}
	}
	.signature{
		margin: 20px auto 0px;
		display: inline-block;
		margin-bottom: 230px;
		p{
			@extend %eNormal;
			font-size: 14px;
			color: #747696;
		}
	}
}

//================================= NEW DESIGN ====================================

#newDesign{
	.wrap{
		padding: 190px 0px 144px 0px;
		background: url('../../images/newDesign/red_triangle.jpg') no-repeat 100% 0%;

		background-size: 40% 100%;
		.new_design{
			h3{
				margin-bottom: 55px;
				margin-top: 0px;
				span{
					color: #ff6d6d;
					@extend %eMedium;
					font-size: 40px;
				}
			}
			span{
				@extend %eMedium;
				font-size: 16px;
				line-height: 26px;
				color: #282828;
			}
		}
	}
	
}

//================================= NEW FEATURES ====================================

#newFeatures{
	.wrap{
		background: #f6f5f3;
		.cont{
			padding: 135px 0px 160px 0px;
			background: url('../../images/newFeatures/BG.jpg') no-repeat 53% -30px;
			.col{
				margin-top: 90px;
				text-align: center;
				h2{
					@extend %eMedium;
					font-size: 22px;
					color: #282828;
					line-height: 50px;
				}
				span{
					@extend %eMedium;
					display: inline-block;
					padding: 0px 10px;
					font-size: 16px;
					line-height: 26px;
					color: #a8a7a6;
				}
			}
		}
		
	}
}

//================================= RESPONSIVE DESIGN ====================================

#responsiveDesign{
	.wrap{
		padding: 93px 0px 97px 0px;
		background: url('../../images/responsiveDesign/triangle.jpg') no-repeat 0% 23%;
		.second-col{
			margin-top: 45px;
			h3{
				margin-bottom: 45px;
				span{
					@extend %eMedium;
					font-size: 40px;
					color: #ff6d6d;
				}
			}
			span{
				display: inline-block;
				padding-right: 60px;
				@extend %eMedium;
				font-size: 16px;
				line-height: 26px;
				color: #8a8a8a;
			}
		}
	}
}

//================================= OUR CLIENTS ====================================

#ourClients{
	.wrap{
		background: url('../../images/ourClients/BG.jpg');
		padding: 110px 0px 38px 0px;
		.col{
			text-align: center;
			h2{
				@extend %eMedium;
				font-size: 22px;
				color: #ffffff;
			}
			h5{
				@extend %eMedium;
				font-size: 16px;
				color: #ff6d6d;
				margin-bottom: 35px;
			}
			span{
				display: inline-block;
				padding: 0px 20px;
				@extend %eItalic;
				font-size: 16px;
				line-height: 26px;
				color: #c7c7c8;
			}
		}
		.partner-row{
			margin-top: 85px;
			.col-1{
				margin-top: 15px;
			}
			.col-2{
				margin-top: 15px;
			}
			.col-4{
				margin-top: 15px;
			}
			.col-5{
				margin-top: 15px;
			}
		}
	}
}

//================================= AWESOME FEATURES ====================================

#awesomeFeatures{
	.wraper{
		padding-top: 95px;
		background: #f6f5f3;
		h3{
			margin-bottom: 50px;
		}
		span{
			@extend %eMedium;
			font-size: 16px;
			line-height: 26px;
			color: #858584;
		}
		.window_container{
			padding: 0px;
			margin-top: 105px;
			div{
				position: relative;
				img{
					display: block;
					width: 100%;
				}
			}
			
		}
	}
}

//================================= USING DESIGNERS ====================================


#usingDesingers{
	.wrap{
		padding: 95px 0px 85px 0px;
		background-color: #323969;
	}
	h3{
		color: #ffffff;
	}
	.col{
		margin-top: 38px;
		margin-bottom: 41px;
		float: right;
		img{
			display: inline-block;
			position: absolute;
			top: 5px;
			left: 30px;
		}
		span{
			@extend %eNormal;
			font-size: 16px;
			color: #f6f5f3;
		}
	}
	.registration{
		input[type="text"]{
			padding: 17px 0px 18px 28px;
			width: 100%;
			border: 1px solid #999cb4;
			background-color: #464c77;
			@extend %eNormal;
			font-size: 16px;
			color: #ffffff;
			border-radius: 3px;
			color: #f6f5f3;
		}
		button{
			text-transform: uppercase;
			width: 100%;
			padding: 17px 0px 18px 0px;
			background-color: #ff6d6d;
			@extend %eNormal;
			font-size: 16px;
			border: 1px solid #ff6d6d;
			color: #f6f5f3;
		}
	}
	.temAndservice{
		text-align: center;
		margin-top: 52px;
		span{
			@extend %eNormal;
			font-size: 16px;
			color: #b8b9c3;	
		}
		
	}
}

//================================= FOOTER ============================================

footer{
	margin: 85px 0px 0px 0px;
	h5{
		@extend %eMedium;
		font-size: 22px;
		color: #282828;
	}
	.startEx{
		h5{
			font-size: 27px;
			display: inline-block;
		}
		div{
			margin-top: 12px;
			span{
				@extend %eMedium;
				font-size: 14px;
				line-height: 26px;
				color: #9e9e9e;
			}
			address{
				@extend %eMedium;
				font-size: 14px;
				line-height: 26px;
				color: #9e9e9e;
			}
		}
	}
	.support{
		div{
			span{
				@extend %eNormal;
				font-size: 14px;
				line-height: 30px;
				color: #9e9e9e;
			}
		}
	}
	.aboutUs{
		@extend %eNormal;
		font-size: 14px;
		line-height: 30px;
		color: #9e9e9e;
	}
	.getNewsletter{
		text-align: center;
		vertical-align: middle;
		input[type="text"]{
			width: 75%;
			float:left;
			padding: 13px 0px 13px 30px;
			background: #f6f6f6;
			color: #b1b1b1;
			@extend %eNormal;
			font-size: 16px;
			border: 1px solid #b8b8bf;
		}
		button{
			width: 52px;
			height: 50px;
			float:left;
			background: #ff6d6d url('../../images/footer/papper-plane.png') no-repeat center center;
			border: none; 
		}
		.links{
			vertical-align: middle;
			display: inline-block;
			margin-top: 20px;
			div{
				display: inline-block;
				a{
					display: inline-block;
					margin-right: 30px;
				}
			}
			
		}
	}
}
